@font-face {
    font-family: 'CormorantGaramond-Medium';
    src:url('../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Angelahandwritting';
    src:url('../fonts/Angelahandwritting-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'Angelahandwritting';
}
/* navigation  */
nav {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
}

nav li {
  padding-bottom: 5px;
  width: 15%;
}

nav li a {
  color: gray;
  letter-spacing: 2px;
  text-decoration: none;
}

nav ul li a:hover{
    color: rgb(255, 221, 231);
}

.strike{
  border: rgb(255, 221, 231) solid 1px;
  padding: 5px;
}

/* profile */

.profile img{
    width: 400px;
    height: auto;
}

.profile{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-content: center;
}

.profiletext{
  font-size: 25px;
  margin-left: 60px;
}

#profiletitle{
  font-size: 35px;
  font-weight: bold;
}

.profile p{
  font-size: larger;
  font-weight: bold;
}

/* projects */
.projectsection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: baseline; */
  text-align: center;
  margin-top: 30px;
}

.projectsection p{
  font-size: 25px;
  text-align: center;
}

.projectsection a{
  text-decoration: none;
  color: black;
}

.projectsection img{
  width: 300px;
  height: auto;
  padding: 10px;
}

.Slidedecks section{
  display: flex;
  flex-direction: column;
}

.breakfree, .perfumes, .Slidedecks{
  border: lightgray solid 1px;
  box-shadow: 5px 5px rgb(255, 221, 231);
}

.breakfree:hover, .perfumes:hover, .Slidedecks:hover{
  cursor: pointer;
  opacity: 50%;
}

.padding{
  /* margin-left: 30px; */
  margin-top: 30px;
}

#perfumetext p{
  margin-top: 40px;
  margin-bottom: 0px;
}

.padding:first-child{
  margin-left: 0px;
}

/* breakfree */

.bfheading h1, h2{
  text-align: center;
}

.bfheading span{
  background-color: rgb(255, 221, 231);
}

.bfimages{
  display: flex;
  justify-content: center;
}

.bfimages div{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.bfimages img:last-child{
  margin-top: 15px;
}

.bfimages img{
  width: 300px;
  height: auto;
  border: rgb(255, 221, 231) solid 1px;
}